<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
  <%= image_tag "top_img.jpg", class:"hero-image" %>
    <div class="top-side-bar">
      <ul class="side-bar-menus">
        <li class="side-bar-menu">公演管理</li>
        <li class="side-bar-menu">予約管理</li>
        <li class="side-bar-menu">チケット管理</li>
        <li class="side-bar-menu">顧客管理</li>
      </ul>
      <%= render "messages/main_chat"%>
    </div>
    <div class="top-main">
    </div>
  </div>
</div>
<%= render "shared/footer"%>