<%= render "shared/header"%>
<div class="index-main">
  <div class="hero">
  <%= image_tag "top_img.jpg", class:"hero-image" %>
      <%= render "shared/side_bar"%>
    <div class="top-main">
    </div>
  </div>
</div>
<%= render "shared/footer"%>