<div class="top-side-bar">
  <ul class="side-bar-menus">
    <li class="side-bar-menu"><%= link_to '公演管理', team_programs_path(@team) %></li>
    <li class="side-bar-menu">予約管理</li>
    <li class="side-bar-menu">チケット管理</li>
    <li class="side-bar-menu"><%= link_to '顧客管理', team_customers_path(@team) %></li>
  </ul>
  <%= render "messages/main_chat"%>
</div>