/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  background-color: #e4c3f1;
  align-items: center;
  height:80px;
  font-family: 'Yusei Magic', sans-serif;
}

.header a {
  text-decoration: none;
  color: #c062ff;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 80px;
  margin: 30px;
}

.nav-lists {
  display: flex;
  height: 80px;
  margin-right: 50px;
  color: #c062ff;
}

.nav-lists__list {
  margin-left: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 80px;
  color: #535353;
}

/******************************************************** 
　フッター
********************************************************/
.footer {
  width: 1440px;
  height: 70px;
  background-color: #FAFAFA;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #959393;
}

/******************************************************** 
　共通事項 
********************************************************/
.hero {
  position: relative;
  width: 1440px;
  height: 671px;
  font-family: 'Yusei Magic', sans-serif;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 30%;
}

.hero-items {
  position: absolute;
  top: 15%;
  padding: 0 100px 0 50px;
  width: calc(1440px - 150px);
}

.hero-text__main {
  display: block;
  font-size: 70px;
  font-weight: 600;
  color: #535353;
  margin: 0 60px;
}

.service-items{
  background-color: #e4c3f1;
  color:#FFFFFF;
  padding: 30px;
  margin: 60px;
  border-radius: 10px;
  width: 600px;
  height: 330px;
}

.service-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.service-btn {
  background-color: #e4c3f1;
  color:#FFFFFF;
  padding: 15px;
  margin: 60px 50px 60px 0 ;
  border-radius: 10px;
  width: 250px;
  border: #c062ff solid 3px;
}

.service-lists{
  display: flex;
  color: #535353;
  margin-top: 10px;
}

.service-list-main{
  background-color: #FAFAFA;
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
}

.service-list-program{
  background-color: rgb(255, 237, 255);
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
}

.service-list-reserve{
  background-color: rgb(255, 255, 213);
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
}

.service-list-seat{
  background-color:#d0f0ba;
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
}

.service-list-customer{
  background-color: #d1cdff;
  margin-right: 8px;
  padding: 5px 10px;
  border-radius: 8px 8px 0 0;
}

.service-explanation-lists{
  color:#959393;
}

.explanation-image{
  height:200px;
}

.service-explanation-main{
  background-color: #FAFAFA;
  border-bottom: solid #FAFAFA 3px;
  height:250px;
}

.service-explanation-program{
  background-color: rgb(255, 237, 255);
  border-bottom: solid #e4c3f1 3px;
  height:250px;
}

.service-explanation-reserve{
  background-color: rgb(255, 255, 213);
  border-bottom: solid #e4c3f1 3px;
  height:250px;
}

.service-explanation-seat{
  background-color: #d0f0ba;
  border-bottom: solid #e4c3f1 3px;
  height:250px;
}

.service-explanation-customer{
  background-color: #d1cdff;
  border-bottom: solid #e4c3f1 3px;
  height:250px;
}

.service-btn a {
  text-decoration: none;
  color: #FFFFFF;
}

.field{
  font-size: 15px;
  font-weight: 600;
}

.actions{
  text-align: center;
  margin: 20px 0 0 0;
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

input[type="password"] {
  width: 250px;
  height: 30px;
}

input[type="email"] {
  width: 250px;
  height: 30px;
}

/******************************************************** 
　新規登録ページ
********************************************************/
.hero-items-new {
  position: absolute;
  top: 15%;
  padding: 0 100px 0 50px;
  width: calc(1440px - 150px);
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.service-btn-new {
  background-color: #e4c3f1;
  color:#FFFFFF;
  padding: 30px 30px 10px 30px;
  margin: 60px 50px 60px 60px ;
  border-radius: 10px;
  width: 300px;
  border: #c062ff solid 3px;
}

.new-user-registration {
  text-align: center;
  margin-top: 8px;
}

.new-user-registration a{
  text-decoration: none;
  color: #c062ff;
  font-size: 20px;
  font-weight: 200;
}

.new-user-session {
  text-align: center;
  margin-top: 8px;
}

.new-user-session a{
  text-decoration: none;
  color: #c062ff;
  font-size: 20px;
  font-weight: 200;
}
/******************************************************** 
　チームトップページ
********************************************************/
.top-side-bar{
  position:absolute;
  top:0%;
  width:270px;
  height:671px;
}

.side-bar-menus{
  width:270px;
  height:200px;
  background-color: #535353;
  color:white;
}

.side-bar-menus a{
  text-decoration: none;
  background-color: #535353;
  color:white;
}

.side-bar-menu{
  padding: 10px 0 0 10px;
  height: 40px;
  font-size: 18px;
}

.side-bar-chat{
  width:270px;
  height:471px;
  background-color: #dbdbdb;
}

.chat-form{
  text-align: right;
  margin-right: 5px;
}

.chat-message{
  margin-top: 10px;
}

.chat-submit{
  margin-top: 5px;
}

.message-user{
  font-size: 18px;
}

.message-content{
  font-size: 15px;
}

.message-date{
  font-size: 10px;
}

.chat-main{
  overflow: scroll;
  height: 390px;
}

.message{
  margin-bottom: 15px;
  margin-left: 5px;
}

.top-main{
  height: 671px;
  position: absolute;
  left: 20%;
  top: 2%;
  color:#2b2b2b
}

.menu-top-content{
  font-size: 50px;
}

.menu-sub-content{
  margin-left: 10px;
  font-size: 20px;
}

.info-lists{
  border: #535353 solid 1px;
  margin: 30px 0 0 15px;
  overflow: scroll;
  height: 430px;
}

/******************************************************** 
　公演管理
********************************************************/
.menu-show-list{
  background-color: #e4c3f1;
  color: #535353;
  border-radius: 10px;
  margin:10px;
  padding: 5px 10px;
  font-size:20px;
}

.menu-show-lists{
  display: flex;
}

.date-lists{
  display: flex;
}

.date-input{
  height:26px;
  font-size: 15px;
}

.date-time-input{
  height:30px;
  font-size: 15px;
}

.program-submit-box{
  margin-top: 15px;
}

.schedule-add{
  display: flex;
}

.nst-add-btn{
  margin: 10px 0 50px 0;
}

.lists-title{
  font-weight: 600;
  margin: 15px 0  15px 15px ;
  font-size: 23px;
  border-bottom: #c062ff solid 5px;
}

.program-list{
  margin: 3px 0 3px 18px;
  font-size: 20px;
}

.program-delete{
  font-size: 15px;
}

.new-schedule-table{
  overflow: scroll;
}

.schedule-lists{
  font-size: 18px;
  border-bottom: #2b2b2b solid 2px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.schedule-list{
  width: 280px;
  margin: 10px 0;
  border-bottom: #535353 solid 1px;
  display: flex;
}

.schedule-edit{
  font-size: 15px;
}

.li-ticket-number{
  margin-left: 20px;
  width: 40px;
  text-align: right;
}

.schedule-list-delete{
  margin-left: 30px;
}

.schedule-date{
  width: 80px;
}

.schedule-time{
  width: 50px;
}

.schedule-program{
  font-size: 40px;
  border-bottom: #535353 solid 3px;
  margin-bottom: 30px;
}

.edit-fin a{
  text-decoration: none;
  background-color: #b9b9b9;
  border: #535353 solid 1px;
  border-radius: 2px;
  color: #FAFAFA;
  font-size: 18px;
  padding:3px 5px;
}

.schedule-info-lists{
  margin: 5px;
  overflow: scroll;
  height: 320px;
}



/******************************************************** 
　顧客管理
********************************************************/
.customer-name{
  font-size: 50px;
}

.customer-list{
  display: flex;
}

.customer-list-title{
  font-size: 18px;
  border: #535353 solid 1px;
  width: 120px;
  padding: 3px 10px;
  background-color: #f4f4f4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-info-list{
  font-size: 18px;
  border: #535353 solid 1px;
  width: 300px;
  padding: 3px 10px;
  background-color: #f4f4f4;
}

.customer-list-explanation{
  font-size: 18px;
  border: #535353 solid 1px;
  width: 300px;
  padding: 3px 10px;
  background-color: #f4f4f4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-list-btn{
  font-size: 18px;
  border: #535353 solid 1px;
  width: 50px;
  padding: 3px 10px;
  background-color: #f4f4f4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-list-title-top{
  font-size: 21px;
  color: #f4f4f4;
  font-weight: 300;
  border: #535353 solid 1px;
  width: 120px;
  padding: 3px 10px;
  background-color: #959393;
}

.customer-info-list-top{
  font-size: 21px;
  color: #f4f4f4;
  font-weight: 300;
  border: #535353 solid 1px;
  width: 300px;
  padding: 3px 10px;
  background-color: #959393;
}

.customer-list-btn-top{
  font-size: 21px;
  color: #f4f4f4;
  font-weight: 300;
  border: #535353 solid 1px;
  width: 50px;
  padding: 3px 10px;
  background-color: #959393;
}

/******************************************************** 
　予約管理
********************************************************/